<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>380964194764-u529jjki3nqa7h4a018b6u5thir29koh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.380964194764-u529jjki3nqa7h4a018b6u5thir29koh</string>
	<key>API_KEY</key>
	<string>AIzaSyA9m30iJhhjHzQdiO9t0bbahrm2UeXT30k</string>
	<key>GCM_SENDER_ID</key>
	<string>380964194764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sandboxLevel1</string>
	<key>PROJECT_ID</key>
	<string>sandbox-level1</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-level1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:380964194764:ios:021b80501ff1b447733569</string>
</dict>
</plist>