<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786870594740-eda7kin127pghdr3agtgif2ia19rgjbt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786870594740-eda7kin127pghdr3agtgif2ia19rgjbt</string>
	<key>API_KEY</key>
	<string>AIzaSyAj5rW9v6XszOMAu-cvTZQg3oztHRGMJdU</string>
	<key>GCM_SENDER_ID</key>
	<string>786870594740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sandboxLevel1</string>
	<key>PROJECT_ID</key>
	<string>sandbox-level1-c0ae2</string>
	<key>STORAGE_BUCKET</key>
	<string>sandbox-level1-c0ae2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786870594740:ios:4cf8ec1b4386e780143be1</string>
</dict>
</plist>